@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: #999;
}

/*.btn9 {
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn9:hover {
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}
*/
.btn1,button{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: rgb(136, 127, 195);
    cursor: pointer;
    color:var(--white);
    font-size: 1rem;
    padding:1rem 3rem;
 }
 
 .btn1:hover{
    background-color: green;
    color:var(--black);
 }


.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: #7f16c1;
    width: 18vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu a {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu a:hover {
    background: white;
    color: #f05462;
}

.container9 {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 50vh;
    background: #f1f1f1;
}

.container9 .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container9 .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container9 .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container9 .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container9 .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container9 .header .nav .search button img {
    width: 30px;
    height: 30px;
}

.container9 .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container9 .header .nav .user img {
    width: 40px;
    height: 40px;
}

.container9 .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

.container9 .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container9 .content9 {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container9 .content9 .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container9 .content9 .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container9 .content9 .content-2 {
    min-height: 1vh;
    display: flex;
    justify-content: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container9 .content9 .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}





@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}

@media screen and (max-width:536px) {


    .brand-name h1 {
        font-size: 16px;
    }
    .container .content9 .cards {
        justify-content: center;
    }
    .side-menu a {
        font-size: 15px;
        padding: 10px 40px;
        color: white;
        display: flex;
        align-items: center;
    }
    
    .side-menu a:hover {
        background: white;
        color: #f05462;
    }
    .side-menu .brand-name h1{
        font-size: 0.8rem;
    }

    .container .content9 .content-2 .recent-payments table th:nth-child(2),
    .container .content9 .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}
.gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}